/bad
/billeder
/tempCodeRunnerFile.py
/billeder-godkendt.zip
/billeder-ikke-godkendt.zip
/billeder_training
/billeder_validation
/grey
/billeder_prediction
/urls.txt
/New_Images
/Billeder_usable
/Billeder_usable - Kopi
saved_model.h5
saved_model_h5.h5
/old_urls.txt
/Predict.py
